<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spell Sheet</title>
    <link rel="stylesheet" href="spells.css" type="text/css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
